{% extends 'base.html.twig' %}

{% block pagetitle %}Hauptbuch{% endblock %}

{% block body %}
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Hauptbuch</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Anzeige:</div>
                <a class="dropdown-item" href="#">Action</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p>
            <a href="{{ path('hauptbuch_new') }}" class="btn btn-info btn-icon-split mb-3">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Neuer Buchungssatz</span>
            </a>
        </p>
        <table class="table table-striped" id="hauptbuch">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Datum</th>
                    <th scope="col">SOLL</th>
                    <th scope="col">HABEN</th>
                    <th scope="col">Betrag</th>
                    <th scope="col">Beschreibung</th>
                    <th scope="col">Beleg(e)</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for satz in hauptbuch %}
                    <tr>
                         <td>{{ satz.id }}</td>
                         <td data-order="{{ satz.datum|date('Ymd') }}">{{ satz.datum|date('d.m.Y') }}</td>
                         <td>{{ satz.soll }}</td>
                         <td>{{ satz.haben }}</td>
                         <td data-order="{{ satz.betrag }}">CHF {{ ((satz.betrag)/100)|number_format(2)|replace({ '.': ','}) }}</td>
                         <td>{{ satz.beschreibung }}</td>
                         <td>{{ satz.beleg }}</td>
                        <td align="right">
                            <a href="hauptbuch/edit/{{ satz.id }}" class="btn btn-primary btn-circle btn-sm mr-2" data-toggle="tooltip" data-placement="top" title="Bearbeiten"><i class="fas fa-edit"></i></a>
                            <a href="javascript:delete_ajax('hauptbuch/delete/', '{{ satz.id }}', '{{ satz.soll }}/{{ satz.haben }} - {{ satz.beschreibung }}')" class="btn btn-danger btn-circle btn-sm" data-toggle="tooltip" data-placement="top" title="Löschen"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/datatables.js') }}"></script>
<link rel="stylesheet" href="{{ asset('css/datatables.css') }}">

<script>
$(document).ready( function () {
    $('#hauptbuch').DataTable( {
        "language": {
            "url": "{{ asset('js/datatables_german.json') }}"
        },
        "order": [[1, "desc"]]
    } );
} );
</script>
{% endblock %}